html, body {
    font-size: 30px;
}

body { 
    color: #787878;
    padding: 20px 10px;
    text-align: center;
} 

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

input[type='number'] {
    border: 1px solid #787878;
    border-radius: 5px;
    background: #fff;
    display: inline-block;
    width: 100px;
    padding: 5px 20px;
    font-size: 1rem;
}

input[type='button'] {
    border: 1px solid #787878;
    border-radius: 5px;
    background: #fff;
    display: inline-block;
    padding: 5px;
    font-size: 1rem;
}


div {
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(255, 0, 0, .1);
}
